@using Microsoft.AspNetCore.Identity
@using CineplexCinemas.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav nav-pills pull-right">
            <li>
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Welcome back, @UserManager.GetUserName(User)!</a>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav nav-pills pull-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}
